table.tablestakes
  thead
    tr
      th.row-heading header cell
      th header cell
      th header cell
      th header cell
      th header cell
      th header cell
  tbody
    tr
      td.row-heading cell
      td cell
      td cell
      td cell
      td cell
      td cell
    tr
      td.row-heading cell
      td cell
      td cell
      td cell
      td cell
      td cell
