body {
  background-color: aqua;
}

// Header
//
// Description
//
// .modifier1 - description for modifier1
// .modifier2 - description for modifier2
//
// Styleguide 1.1

.modifier1 {
  background-color: #eee;
}

.modifier2 {
  background-color: #ccc;
}
